
button {
  border: 3px solid #0e83cd;
  color: #0e83cd;
  background: none;
  cursor: pointer;
  padding: 25px 80px;
  display: inline-block;
  margin: 15px 30px;
  text-transform: uppercase;
  letter-spacing: 1px;
  outline: none;
  position: relative;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
  text-rendering: auto;
  word-spacing: normal;
  text-indent: 0px;
  text-shadow: none;
  font: 700 11px system-ui;
  -webkit-writing-mode: horizontal-tb !important;
  -webkit-appearance: button;
  }
